<div class="container row">
    <div class="col-md-2">
        <h1>Books</h1>
    </div>
    <div class="col-md-10 custom-products-cart-container cart">
        <div class="offset-md-8">
            <ul class="nav navbar-nav navbar-right">
    
                <li class="dropdown cart">
                    <br>
                    <a href="#" class="btn btn-info btn-lg" data-toggle="dropdown" role="button" aria-expanded="false">
                        Cart: <mat-icon>shopping_cart</mat-icon>
                        <span class='badge badge-warning' id='lblCartCount'>{{cntOfItems}}</span>
                    </a>
                    
                    <ul class="dropdown-menu dropdown-cart" role="menu">
                        <!-- <li *ngFor="let item of cartBooks">
                            <div class="item product-cart-item row">
                                <div class="col-md-8" *ngIf="item">{{item.name}}</div>
                                <div class="col-md-4" *ngIf="item"><strong>${{item.price}}</strong></div>
                            </div>
                        </li>
                        <hr> -->
                        
                        <li><a class="btn btn-small btn-success" role="button" (click)="goToCart()">View Cart</a></li>
                        <!-- <li><a class="btn btn-small btn-success" role="button" routerLink="/cart">View Cart</a></li> -->
                        <br>
                        <li *ngIf="cntOfItems > 0">
                            <a class="btn btn-small btn-warning" role="button" (click)="emptyCart()">Empty Cart</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>





<div class="container row books" style="overflow-x:auto;">
    <div class="col-md-4 custom" *ngFor="let book of books;let i=index">
        <div class="card" style="width: 18rem;">
            <img class="" img src="{{book.retrievedImage}}" height="200" width="140" style="margin-left: 60px;
          margin-top: 10px">
            <div class="book-desc-container row">
                <div>
                    <p style="margin-left: 60px"><strong>{{book.name}}: ${{book.price}}</strong></p>
                    <p style="margin-left: 60px">{{book.author}}</p>
                </div>
                <div class="offset-md-4 col-md-4 btnc">
                    <button class="btn btn-primary btn-sm" (click)="addToCart(book.id)"
                        [disabled]="book.isAdded===true">Add To Cart</button>
                </div>
            </div>

        </div>
    </div>
</div>